body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.loser {
  background-color: gray;
}

.loser h2 {
  font-size: 10px;
  color: brown;
  font-weight: bold;
}

.winner {
  font-size: 25px;
  color: gold;
  font-weight: bold;
}